h4 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
}

.container {
display: flex;
margin: auto;
}

.containerCrosshair {
  display: flex;
  margin: auto;
  align-items: center;
  width: 400px;
  justify-content: center;
}

.containerCrosshair img {
  width: 100px;
  border-radius: 10%;
  margin: 30px;
}
